@inherits MudSelect<T>
@typeparam T

<div>
    @RenderBase()
</div>

@code {
    public RenderFragment RenderBase() => builder => base.BuildRenderTree(builder);

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Margin = Margin.Dense;
        Immediate = true;
        Variant = Variant.Outlined;
        AnchorOrigin = Origin.BottomCenter;
    }
}
