@inherits MudButton

<div>
    @RenderBase()
</div>


@code {
    public RenderFragment RenderBase() => builder => base.BuildRenderTree(builder);

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        Variant = Variant.Outlined;
        Color = Color.Inherit;
    }
}
