@inherits LayoutComponentBase

@inject ThemeProvider _theme

<MudThemeProvider Theme="@_theme.Theme" IsDarkMode="false" />
<div class="layout-body">
    <MudPaper Class="login-box" Style="@($"color : {_theme.Theme.Palette.PrimaryContrastText}; background : {_theme.Theme.Palette.Primary};")">
        @Body
    </MudPaper>
</div>
