::deep .grid-header {
    background: var(--mud-palette-primary) !important;
}

.grid-footer {
    background: var(--mud-palette-primary);
    color: var(--mud-palette-primary-text);
}

::deep .mud-sort-index {
    display: none;
}

::deep th.mud-table-cell, ::deep .mud-icon-root, ::deep .mud-input {
    color: var(--mud-palette-primary-text) !important;
}

::deep .mud-table {
    overflow: hidden;
}

.button-cells {
    width: 25px;
}

::deep .mud-tooltip-root .mud-icon-root {
    color: var(--mud-palette-action-default) !important;
}
