@using EuroConnector.ClientApp.Providers;

@page "/login"
@attribute [AllowAnonymous]

@layout LoginLayout

@inject AuthenticationProvider _authenticationProvider;
@inject NavigationManager _navigationManager;

@*<button @onclick="OnUserClicked">User</button>
<button @onclick="OnAdminClicked">Admin</button>*@

<div class="login-contents">
    <MudText Typo="Typo.h4" Class="ma-3">Login</MudText>

    <MudForm @ref="form" @bind-IsValid="success">
        <MudTextField T="string" Label="Username" Variant="Variant.Outlined" Margin="Margin.Dense" />
        <MudTextField T="string" InputType="InputType.Password" Label="Secret Key" Variant="Variant.Outlined" Margin="Margin.Dense" />
        <MudTextField T="string" Label="API URL" Variant="Variant.Outlined" Margin="Margin.Dense" />
    </MudForm>

    <MudButton Class="ma-3 pa-2" Variant="Variant.Outlined" Color="Color.Inherit" StartIcon="fa-solid fa-right-to-bracket" OnClick="OnUserClicked">Login</MudButton>
</div>

@code {
    bool success;
    MudForm form;

    private void OnUserClicked()
    {
        _authenticationProvider.FakedSignIn();
        _navigationManager.NavigateTo("/");
    }

    private void OnAdminClicked()
    {
        _authenticationProvider.FakedAdminSignIn();
        _navigationManager.NavigateTo("/");
    }
}
