::deep .mud-input {
    color: var(--mud-palette-primary-text) !important;
    margin-bottom: 5px;
    width: 35vw;
}

::deep .mud-input-label {
    background: var(--mud-palette-primary) !important;
    color: var(--mud-pallette-primary-text) !important;
}

::deep .mud-input-outlined-border {
    border-color: var(--mud-pallette-primary-text) !important;
}

.login-contents {
    display: flex;
    align-items: center;
    flex-direction: column;
}