@page "/setup"

@using EuroConnector.ClientApp.Pages.SetupComponents

<div>
    <MudText Typo="Typo.h3">Setup</MudText>

    <div class="field-groups">
        <Login/>
        <Inbox/>
        <Outbox/>
    </div>
</div>

@code {

}
