@page "/setup"
@using EuroConnector.ClientApp.Data.Interfaces

@inject ISetupService SetupService

<div>
    <MudText Typo="Typo.h3">Setup</MudText>

    <div class="field-groups">
        <EuroConnector.ClientApp.Pages.SetupComponents.Login/>
        <EuroConnector.ClientApp.Pages.SetupComponents.Inbox/>
        <EuroConnector.ClientApp.Pages.SetupComponents.Outbox/>
    </div>
</div>

@code
{
    protected override void OnInitialized()
    {
        SetupService.SetDefaultDirectories();
    }
}