@page "/setup"
@using EuroConnector.ClientApp.Data.Interfaces
@using EuroConnector.ClientApp.Pages.SetupComponents
@using XsltTransformer

@inject ISetupService SetupService

<div>
    <MudText Typo="Typo.h3">Setup</MudText>

    <div class="field-groups">
        <Login/>
        <Paths/>
    </div>
</div>

@code
{
    protected override void OnInitialized() => SetupService.SetDefaultDirectories();
}